<html lang="en" xmlns:th="http://www.thymeleaf.org">
<nav class="lanCont" th:fragment="pageHeader">
    <div class="lanEl"><a href="/authorization">Authorization</a></div>
    <div class="lanEl"><a href="/registration">Registration</a></div>
    <div class="lanEl"><a href="/clients">clients</a></div>
<!--    <th:block s th:if="${#session}">-->
<!--        <th:block th:if="${authenticated}">-->
            <div class="lanEl"><a href="/users">Users</a></div>
<!--        </th:block>-->
        <div class="lanEl"><a href="/error">Error</a></div>
        <div class="lanEl"><a href="/logout">Logout</a></div>
<!--    </th:block>-->
    <div style="clear: both"></div>
</nav>