<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <th:block th:insert="~{fragments/headSeattings::headSeattings}"/>
    <script type="text/javascript" th:src="@{/registration.js}"></script>
</head>
<body>
<th:block th:insert="~{fragments/pageHeader::pageHeader}"/>
<div class="formDiv">
    <form th:action="@{/registrationForm}" method="post" name="registrationForm">
        <input type="text" name="username" placeholder="User name">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="confirm" placeholder="Confirm password">
        <input type="button" value="Cancel" style="width: 100px">
        <input type="button" onclick="submitRegForm()" value="Register" style="width: 100px">
    </form>
</div>
</body>
</html>