<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User update</title>
</head>
<body>
<div class="clientForm">
  <form th:action="@{/updateUserForm}" method="post">
    <input type="text" name="id" readonly th:value="${user.id}">
    <input type="text" name="username" placeholder="Username" th:value="${user.username}">
    <input type="password" name="password" placeholder="Password" th:value="${user.password}">
    <input type="text" name="email" placeholder="email" th:value="${user.email}">
    <select name="role" id="role">
      <option th:each="role:${roles}" th:value="${role}" th:utext="${role}" th:selected="${role == user.role}"></option>
    </select>
    <select name="status" id="status">
      <option th:each="status:${statuses}" th:value="${status}" th:utext="${status}" th:selected="${status == user.status}"></option>
    </select>
    <input type="submit" value="SAVE">
  </form>
</div>
</body>
</html>