<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div id="addUsers">
    <form action="usersAddForm" method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
         <select name="role" id="role" >
            <option value="USER">USER</option>
            <option value="ADMIN">ADMIN</option>
         </select>
        <select name="status" id="status" >
            <option value="CREATED">CREATED</option>
            <option value="ACTIVE">ACTIVE</option>
            <option value="BLOCKED">BLOCKED</option>
        </select>
          <button type="submit" class="ui primary button" value="SAVE" id="submitUserButton">
            Save
        </button>
    </form>
</div>
<p></p>
<div id="UsersTable">
    <table>
        <tr>
            <th>ID</th>
            <th>Username</th>
             <th>Role</th>
            <th>Status</th>

        </tr>
        {{#users}}
            <tr>
                <td>{{id}}</td>
                <td>{{username}}</td>
                <td>{{role}}</td>
                <td>{{status}}</td>
                <td>
                    <form action="thisUserForm" method="post">
                        <input type="hidden" name="id" value="{{id}}">
                        <input type="submit" value="&#8942;">
                    </form>
                </td>
            </tr>
        {{/users}}
    </table>

</div>

</body>
</html>